# We want to break on non-alphanumeric filenames
disable=SC2010

# Sed replace is more readable
disable=SC2001

# Enable extended analysis to follow source statements
external-sources=true

# Set source path for shellcheck to find sourced files
source-path=SCRIPTDIR
