name: build

on: [push]

env:
  sfall_version: 4.3.8
  mpack_version: 4.3.8

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: devopsx/gha-ubuntu-i386-fix@master
        with:
          install_wine: true

      - name: Install packages
        run: |
          sudo DEBIAN_FRONTEND=noninteractive eatmydata apt-get install -o=Dpkg::Use-Pty=0 -y crudini dos2unix gcc p7zip
          WINEARCH=win32 eatmydata wineboot

      - name: Build and package
        run: |
          set -xeu -o pipefail
          . extra/env.sh
          ./extra/prepare.sh
          set -xeu -o pipefail
          ./extra/buildall.sh
          ./extra/package.sh

      - name: Upload artifacts - main zip
        uses: actions/upload-artifact@v3
        if: "!startsWith(github.ref, 'refs/tags/')"
        with:
          name: fo2tweaks.zip
          path: fo2tweaks*.zip

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            fo2tweaks*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
